
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#loan-form{
    background-color: teal;
    padding: 20px;
    color: white;
    border-radius: 20px;
    width: 50%;
}

label{
    margin-top: 15px;
    margin-bottom: 5px;
}

input,select{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
}
input:focus{
    outline: none;
}

#sub-loan{
    margin-top: 20px;
   border-radius: 5px;
   border: none;
   font-size: 15px;
   padding: 10px;
}

hr{
    width: 100%;
}

#modal{
position: absolute;
background-color: rgba(0, 0, 0, 0.686);
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}

#modal-cont{
background-color: white;
color: green;
width: 53%;
border-radius: 10px;
}